.App,
.AppSmall {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.AppSmall {
    height: calc(100vh - var(--margin-gap));
}

.AppSmall p {
    font-size: var(--p1);
}

.AppSmall h1 {
    font-size: var(--h2);
}

.AppSmall h2 {
    font-size: var(--h3);
}
