.navbar,
.small,
.extraSmall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.small,
.extraSmall {
    flex-direction: column;
    padding: 2% 0%;
    width: 100%;
}

.small {
    height: 140px;
}

.extraSmall {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.navbar {
    padding: 0px 2%;
    height: 80px;
    width: 96%;
}

.navbar h1,
.small h1,
.extraSmall h1 {
    font-style: italic;
}

.small h1,
.extraSmall h1 {
    margin-top: 0%;
    margin-bottom: 2%;
}

.extraSmall h1 {
    text-align: center;
    font-size: var(--h3);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.extraSmall .buttons {
    justify-content: space-evenly;
    width: 100%;
}