body {
  font-family: 'Roboto Slab';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  border: unset;
  margin: unset;
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family: 'Roboto Serif';
  font-size: 35.54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

:root {
  --accent: #7E8377;
  --accent-faded: #D9D9D9;
  --buttons-primary: #A7EF34;
  --buttons-secondary: #DEF9B4;
  --text: #090E01;
}

root {
  display: flex;
  flex-direction: column;
}